<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <th>日期</th>
        <th>Appid</th>
        <th>书名</th>
        <th>语言</th>
        <th>分类</th>
        <th>音频</th>
        <th>正文</th>
        <th>封面</th>
        <th>问题</th>
        <th>问题已修正</th>
        <th>上传</th>
      </thead>
      <tbody>
        <tr ng-repeat="book in books">
          <td>{{book.date}}</td>
          <td>{{book.appid}}</td>
          <td>{{book.name}}</td>
          <td>{{book.type}}</td>
          <td>{{book.classify}}</td>
          <td>{{book.audio}}</td>
          <td>{{book.content}}</td>
          <td>{{book.cover}}</td>
          <td>{{book.matter}}</td>
          <td>{{book.repair}}</td>
          <td>{{book.upload}}</td>
          
      </tbody>
    </table>
   
    <paging>
      <ul class="pagination" num-pages="task.pageCount" current-page="task.currentPage" on-select-page="selectPage(page)">
        <li ng-class="{disabled: noPrevious()}"> <a ng-click="selectPrevious()">&laquo;</a>

        </li>
        <li ng-repeat="page in pages" ng-class="{active: isActive(page)}"> <a ng-click="selectPage(page)">{{page}}</a>

        </li>
        <li ng-class="{disabled: noNext()}"> <a ng-click="selectNext()">&raquo;</a>

        </li>
      </ul>
    </paging>
  </div> 
</div>
<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
<script>
/*
  $(function(){

  //分页功能
  var page=$('#page1');
  var options = {
    currentPage:page.attr('pageNum'),
    totalPages:page.attr('pageCount'),
    numberOfPages:page.attr('numberOfPages'),
    pageUrl: function(type, page, current){
      return '/main/'+page;
    },
    bootstrapMajorVersion:3
    }
  alert(options.currentPage);
  $('#page1').bootstrapPaginator(options);
  })
*/
</script>